{% extends "layout.html" %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Number of Siblings</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user["firstName"] }}</td>
                <td>{{ user["lastName"] }}</td>
                <td>{{ user["numSibs"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}