/*Contract Routing Classes*/

/*+clearfix {*/
DIV.outer:after, DIV.status_bar:after, DIV.left:after, DIV.signatures:after, DIV.com_box:after, DIV.rep_box:after, .two_columns .bottom_box:after, DIV.two_columns:after, .tip:hover .tiptext:after, .dashbox:after, .dashrow:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
DIV.outer, DIV.status_bar, DIV.left, DIV.signatures, DIV.com_box, DIV.rep_box, .two_columns .bottom_box, DIV.two_columns, .tip:hover .tiptext, .dashbox, .dashrow
{
	display: inline-block;
}
DIV.outer, DIV.status_bar, DIV.left, DIV.signatures, DIV.com_box, DIV.rep_box, .two_columns .bottom_box, DIV.two_columns, .tip:hover .tiptext, .dashbox, .dashrow
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
DIV.contract_reviewer TEXTAREA
{
	background-color: rgba(255, 255, 255, 0.5);
	width: 520px;
}
/*[clearfix]*/DIV.outer
{
	/* font-family: verdana; */
}
DIV.outer H4
{
	margin-top: 0px;
	margin-bottom: 7px;
}
DIV.outer TABLE
{
	border-collapse: collapse;
	margin-top: 6px;
}
DIV.outer THEAD
{
	background-color: #107500;
	color: #FFFFFF;
}
DIV.outer TD, DIV.outer TH
{
	border: 2px solid #A7A7A7;
	padding: 3px;
}
TR.highlight:hover TD
{
	background-color: #FFD500;
}
TABLE.no_borders TD
{
	border: 0px solid #000000;
}
.clear
{
	border: 0px solid #000000;
}
TABLE.clear TD
{
	border: 0px solid #000000;
}
.paselect
{
	max-width: 60px;
	max-width: none\0/;
}
.redline A.chzn-single
{
	color: #EF0606;
}
TABLE.tcp_table TR:nth-child(even)
{
	background-color: rgba(180, 180, 180, 0.5);
}
TABLE.tcp_table TD
{
	border: 0px solid #FFFFFF;
	padding-top: 6px;
}
DIV.contract_reviewer TABLE
{
	margin-top: 0px;
}
LABEL
{
	font-weight: bold;
	display: inline-block;
	margin-top: 10px;
	font-size: 10pt;
}
DIV.contract_reviewer LABEL
{
	margin-top: 0px;
}
.redline, .redline INPUT, .redline SELECT, .redline TEXTAREA
{
	color: #FF0000;
	/*[disabled]border:1px solid #F00000;*/
}
.redline::-webkit-input-placeholder
{
	color: #E20808;
}
.redline:-moz-placeholder
{
	color: #E20808;
}
.redline::-moz-placeholder
{
	color: #E20808;
}
.redline:-ms-input-placeholder
{
	color: #E20808;
}
.right_box LI
{
	/*[empty]list-style:;*/
	margin-left: -16px;
}
.screen_only
{
	display: none;
}
/*Define the Standard Green Border*/
IFRAME.right_box, DIV.right_box, DIV.sig_box, DIV.bottom_box, DIV.com_box, DIV.rep_box, DIV.legend, DIV.blocked, DIV.contract_reviewer, DIV.item, DIV.item_saved, DIV.edms_signature
{
	border: 3px solid #006000;
	padding: 12px;
	/*+border-radius:7px;*/
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 12px;
}
DIV.home_screen_box
{
   height:252px;
   overflow-x:hidden;
   overflow-y:auto;
   white-space:nowrap;
}
DIV.contract_reviewer
{
	padding: 4px;
}
/*Define the Borders for Special Cases*/
DIV.you, DIV.com_box.you, DIV.outer TD.you
{
	border: 3px solid #DB000B;
}
.legend
{
	padding: 5px 8px 5px 9px !important;
	margin-bottom: 5px !important;
	height: 33px;
	line-height: 33px;
}
DIV.green, TR.green, TD.green
{
	background: #C9DE96;
	/*Old browsers
IE9 SVG, needs conditional override of 'filter' to 'none'*/
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhhYjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgyMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
	/*IE6-8*/
}
DIV.yellow, TR.yellow, TD.yellow
{
	background: #FEFCEA;
	/*Old browsers*/
	background: -moz-linear-gradient(top, #fefcea 0%, #ede436 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#ede436));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, #fefcea 0%,#ede436 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #fefcea 0%,#ede436 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, #fefcea 0%,#ede436 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, #fefcea 0%,#ede436 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#ede436',GradientType=0 );
	/*IE6-9*/
}
DIV.red, TR.red, TD.red
{
	background: #FF6B5E;
	/*Old browsers
IE9 SVG, needs conditional override of 'filter' to 'none'*/
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmNmI1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ff6b5e 1%, #cf0404 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff6b5e), color-stop(100%,#cf0404));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, #ff6b5e 1%,#cf0404 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #ff6b5e 1%,#cf0404 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, #ff6b5e 1%,#cf0404 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, #ff6b5e 1%,#cf0404 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6b5e', endColorstr='#cf0404',GradientType=0 );
	/*IE6-8*/
}
DIV.black
{
	background-color: #464646;
	color: #FFFFFF;
}
DIV.grey, TR.grey, TD.grey
{
	/*IE9 SVG, needs conditional override of 'filter' to 'none'*/
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
	/*IE6-8*/
}
/*Status Bar*/
DIV.hide_input
{
	visibility: hidden;
}
/*[clearfix]*/DIV.status_bar
{
	display: inline-block;
	height: 102px;
	width: 100%;
	font-weight: bold;
	text-align: center;
}
.red_text
{
	/*[empty]color:;*/
}
DIV.item
{
	display: inline-block;
	padding: 7px;
	height: 70px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	min-width: 55px;
	margin: 5px;
}
DIV.item_saved
{
	display: inline-block;
	padding: 7px;
	height: 70px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	min-width: 55px;
	margin: 5px;
}
DIV.item:hover
{
	padding: 12px;
	margin: 0px;
	transition: all .5s;
}
DIV.status_bar .item.red_text,
DIV.status_bar .item.red_text:hover,
DIV.status_bar .item a.red_text,
DIV.status_bar .item a.red_text:hover
{
	color: #A32121;
}

DIV.status_bar .item,
DIV.status_bar .item:hover,
DIV.status_bar .item a,
DIV.status_bar .item a:hover
{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

DIV.item.selected
{
	margin: 0px;
	padding: 12px;
	border-color: #D30202;
}
DIV.item_inner
{
	display: table-cell;
	height: 70px;
	vertical-align: middle;
	/*[empty]padding:;*/
}
DIV.status_bar A.converted
{
	color: #606060;
}
/*Define the Left Side Panel*/
/*[clearfix]*/DIV.left
{
	width: 702px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	border-radius: 8px;
	margin-top: 12px;
}
DIV.status_text
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	margin: -17px 10px 0 0;
	min-width: 300px;
	text-align: right;
}
/*Signature Box Styles*/
/*[clearfix]*/DIV.signatures
{
}
DIV.sig_box
{
	height: 170px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	margin: 14px 9px 12px 0px;
	width: 195px;
}
DIV.sig_box P
{
	padding: 0px;
	margin-top: 0px;
}
DIV.sig_box INPUT
{
	width: 91px;
	/*height: 37px;*/
	margin: 1px;
	/*text-align: center;*/
	padding: 0px;
}
/*Bottom Styles*/
DIV.bottom_box
{
	margin-bottom: 12px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 95%;
}
/*Comment Box Styles*/
/*[clearfix]*/DIV.com_box
{
	border: 1px solid #000000;
	margin-bottom: 0px;
	margin-top: 12px;
}
DIV.bottom_box H5
{
	margin: 0px 0px 4px;
}
DIV.com_details
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	font-size: 9pt;
}
DIV.com_details INPUT
{
	height: 37px;
	text-align: right;
	margin-left: 15px;
}
DIV.com_detail_questions
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	font-size: 9pt;
}
DIV.com_details P
{
	margin: 0px 0px 6px;
}
/*[clearfix]*/DIV.rep_box
{
	border: 1px solid #000000;
	margin-left: 38px;
	margin-bottom: 1px;
	margin-top: 2px;
}
.two_columns .com_details
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
/*[clearfix]*/.two_columns .bottom_box
{
	width: 315px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	margin-right: 6px;
}
/*[clearfix]*/DIV.two_columns
{
}
/*Define the Right Side Panl*/
DIV.right
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	width: 284px;
	margin-top: 12px;
}
DIV.right_box
{
	margin-bottom: 12px;
}
.home_right
{
}
/*Classes to Support Form Validation*/
P.trigger
{
	margin-bottom: 7px;
	margin-top: -5px;
}
.required
{
	border: 2px solid #C70505;
	margin: 2px;
}
.toggle_container
{
	margin-bottom: 10px;
}
.toggle_container P
{
	margin: 0px;
}
#error
{
	color: #FF0000;
	font-size: 10px;
	display: none;
}
.needsfilled
{
	background: #FF0000;
	color: #FFFFFF;
}
.tiptext
{
	display: none;
}
/*[clearfix]*/.tip:hover .tiptext
{
	display: block;
	/*+placement:displace 50px 0px;*/
	position: absolute;
	margin-left: 50px;
	margin-top: 0px;
	border: 1px solid #000000;
	background-color: #111111;
	text-align: center;
	color: #FFFFFF;
	padding: 5px;
	z-index: 9999;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	width: 234px;
    white-space:normal;
}
/*Rules to Reset Handsontable*/
DIV.handsontable TABLE
{
	border-collapse: separate;
	margin-top: 0;
}
DIV.handsontable TD, DIV.handsontable TH
{
	padding: 0px;
	border: 1px solid #ACACAC;
}
.showme
{
	display: none;
}
.showhim:hover .showme
{
	display: block;
}
/*Dashboard Reports*/
.print_only
{
	display: none;
}
TABLE.dashtable TR TD
{
	border: 0px solid #000000;
}
TABLE.dashtable
{
	/*[disabled]margin-left:15px;*/
	width: 90%;
}
TR.total_row
{
	border-top: 2px solid #000000;
	font-weight: bold;
}
/*[clearfix]*/.dashbox
{
	/*[disabled]border:2px solid #000000;*/
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
/*[clearfix]*/.dashrow
{
	border: 2px solid #727272;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	margin-top: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
/*button
----------------------------------------------*/
.button
{
	display: inline-block;
	zoom: 1;
	/*zoom and *display = ie7 hack for display:inline-block*/
	=display: inline;
	vertical-align: baseline;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	padding: 0 0;
	height: 45px;
	line-height: 45px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	width: 85px;
}
.button:hover
{
	text-decoration: none;
}
.button:active
{
	position: relative;
	top: 1px;
}

.button + .button {
	margin-left: 6px;
}

.bigrounded
{
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium
{
	font-size: 12px;
	padding: 0.4em 1.5em 0.42em;
}
.small
{
	font-size: 11px;
	padding: 0.2em 1em 0.275em;
}
/*color styles
----------------------------------------------
black*/
.black
{
	color: #D7D7D7;
	border: 1px solid #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top, #666, #000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover
{
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top, #444, #000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active
{
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top, #000, #444);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
/*gray*/
.gray
{
	color: #E9E9E9 !important;
	border: 1px solid #555;
	background: #6E6E6E;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top, #888, #575757);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover
{
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top, #757575, #4b4b4b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active
{
	color: #AFAFAF;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top, #575757, #888);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
.wordwrap
{
	white-space: pre-wrap;
	/*CSS3*/
	white-space: -moz-pre-wrap;
	/*Firefox*/
	white-space: -pre-wrap;
	/*Opera <7*/
	white-space: -o-pre-wrap;
	/*Opera 7*/
	word-wrap: break-word;
	/*IE*/
}

#doc_form * {
	box-sizing: border-box;
}

#doc_form input[type=text], #doc_form textarea {
	width: 100%;
}

#doc_form input[name=revision] {
	width: 40%;
}

#doc_form #popupDatepicker2 {
	width: 60%;
	float: right;
}