table.reporting {
  width: 100%;
  border-collapse: collapse;
}

table.reporting tr.reporting_dummy {
    display: none;
}

table.reporting th, table.reporting td {
  border: 1px solid lightgray;
}

table#wip_table tbody tr.CASH_POSITIVE td {
  background-color: #cdffff;
}

table#wip_table tbody tr.OVERRUN td {
  background-color: #ffb5b5;
}

table#wip_table tbody tr.FFP td {
  background-color: #ffe47e;
}

table#wip_table tbody tr.T\&M td {
  background-color: #ffffcc;
}

table#wip_table td, table#wip_table th {
    width: 9%;
}

table#wip_table td.client, table#wip_table th.client {
    width: 26%;
}

table#oh_table th.name, table#oh_table td.name {
    width: 26%;
}

table#oh_table th, table#oh_table td {
    width: 16%;
}

table.reporting.group_hours thead th,
table.reporting.group_hours tfoot td {
    background: #fff;
    color: #000;
    font-size: 11px;
}

table.group_hours th.employee, table.group_hours td.employee {
    width: 15%;
}

table.reporting td.right_align,
table.reporting th.right_align {
    text-align: right;
}

div#fill_form {
	display: none;
	text-align: left;
	padding: 25px;
	cursor: move;
}

div#cboxLoadedContent div#fill_form {
	display: block;
} 

div#ny {
	display: none;
	text-align: left;
	padding: 25px;
}

div#cboxLoadedContent div#ny {
	display: block;
} 

input#copy_ratio {
	width: 50px;
	text-align: right;
}

button#delete_year {
  color: #ffffff;
  background: #ff0000;
  padding: 5px 8px 5px 8px;
  border: solid #c7311e 2px;
  text-decoration: none;
}

button#delete_year:hover {
  background: #ff3b3b;
  text-decoration: none;
}

table.highcharts_tooltip tr td{
  border:none;
}

.nr_input input, .oh_input input {
    width: 75px;
}
/*** custom css only popup ***/
.columnSelectorWrapper {
    position: relative;
    margin: 10px 0;
    display: inline-block;
}
.columnSelector, .hidden {
    display: none;
}
.columnSelectorButton {
    background: #060;
    border: #888 1px solid;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}
#colSelect1:checked + label {
    background: #3c3;
    border-color: #555;
}
#colSelect1:checked ~ #columnSelector {
    display: block;
}
.columnSelector {
    width: 710px;
    position: absolute;
    top: 50px;
    padding: 10px;
    background: #fff;
    border: #99bfe6 1px solid;
    border-radius: 5px;
    column-width: 200px;
    column-gap: 0;
    column-rule: none;
    z-index: 10;
}
.columnSelector label {
    display: block;
    font-weight: normal;
}
.columnSelector label:nth-child(1) {
    border-bottom: #99bfe6 solid 1px;
    margin-bottom: 5px;
}
.columnSelector input {
    margin-right: 5px;
}
.columnSelector .disabled {
    color: #ddd;
}