/*+clearfix {*/
#wrapper * {
	box-sizing: content-box;
}

#wrapper .chosen-container * {
	box-sizing: border-box !important;
}

/* Unclear why this stopped working */
#wrapper .chosen-container {
	display: inline-block;
}

/* Unclear why this stopped working */
.chosen-container .chosen-drop {
	top: auto !important;
	width: auto !important;
}

.chosen-container a {
	font-weight: normal;
}

.home:after, #wrapper:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.home, #wrapper
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.home, #wrapper
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
/*[clearfix]*/.home
{
}
.home_left
{
	width: 661px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	margin-right: 0px;
}
.home_right
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 323px;
}
#login
{
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #006000;
	display: inline-block;
	padding: 11px;
	margin: 93px;
	text-align: left;
}
.Title_Bar
{
	font-weight: bold;
	font-size: 14pt;
}
.logout
{
	/*+border-radius:9px;*/
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px;
	border: 3px solid #006000;
	padding: 8px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	text-decoration: none;
	margin-top: 12px;
}
/*PROBLEM*/
.fullwidth
{
	width: 998px;
	overflow: auto;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
@media print
{
	#weekselector, #weekselector2, .logout
	{
		display: none;
	}
}
#weekselector
{
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #006000;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 11px;
	height: 43px;
	cursor: pointer;
}
.buttons
{
	width: 190px;
	height: 106px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	=margin-top: 17px;
	text-align: right;
}
#weekselector2
{
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #006000;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 11px;
	height: 43px;
	background-color: #F90E0E;
	cursor: pointer;
	color: #FFFFFF;
	font-weight: bold;
}
/*[clearfix]*/#wrapper
{
	margin: 0 50px;
	width: 1000px;
	/*Replace the xxxx with the the width of your site (eg 800px)*/
	position: relative;
}
DIV.gsf_text
{
	border: 1px solid #000000;
	padding: 5px;
}
.calendar TABLE
{
	margin-left: 29px;
}
#page-changer
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
.hdr
{
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 2px;
}
.legendvalue
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 80px;
	height: 52px;
	margin: 5px;
	vertical-align: middle;
	line-height: 54px;
	text-align: center;
	font-weight: normal;
}
.graphwlegend
{
	border: 3px solid #000000;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 890px;
}
.tablelegend
{
	/*+border-radius:7px;*/
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #006000;
	width: 274px;
	height: 188px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.calendar
{
	/*+border-radius:7px;*/
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #006000;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	overflow: auto;
	margin: 8px 8px 8px 0px;
	padding: 0px 2px 10px 10px;
	font-weight: normal;
	width: 238px;
	text-align: center;
}
.graphbin A
{
	font-weight: bold;
	font-size: 11.4pt;
}
#forecastgraph
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
#testPicture
{
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
}
IMG
{
	border: 0px solid #000000;
}
.mainimage
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
DIV.otheruser
{
	/*+border-radius:7px;*/
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #006000;
	margin-top: 59px;
	padding: 5px 6px 6px;
	text-align: center;
	background-color: #F90E0E;
	position: relative;
	font-size: 9pt;
}
.error
{
	/*+placement:anchor-bottom-left;*/
	position: absolute;
	left: 0;
	bottom: 0;
	position: absolute;
	bottom: -99px;
	height: 100px;
	left: 0px;
}
DIV.otheruser A
{
	color: #FFFBFB;
	text-decoration: none;
	font-weight: bold;
}
SPAN.otheruser
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*edit: added z-index*/
	z-index: 1;
	/*edit: fixes overlap error in IE7/8,
make sure you have an empty gif*/
	background-image: url('empty.gif');
}
.graphbin
{
	/*+border-radius:13px;*/
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	-khtml-border-radius: 13px;
	border-radius: 13px;
	border: 3px solid #006000;
	padding: 10px;
	margin-bottom: 10px;
	width: 613px;
}

.print_show
{
	display: none;
}
TABLE.forecasttable
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}

.filters
{
	width: 671px;
	height: 23px;
	margin-top: 8px;
}

table.clear td {
   border-width:0px;
}

.hide_overflow{
   overflow:hidden;
   white-space:nowrap;
}
.hide_overflow_delete_button{
   overflow:hidden;
   white-space:nowrap;
   display: inline-block;
   max-width: 80%;
}
